@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');

* { margin: 0; padding: 0; text-decoration: none; list-style: none; }
#wrap { width: 1400px; margin: 0 auto; }

header { 
    width: 100%; height: 800px; background: #c0d3d0;
    display: flex; flex-direction: column; align-items: center;
}
header ul { width: 1200px; display: flex; align-items: center; justify-content: space-between; padding:50px; }
header li a {color: #000; }
header p { text-align: center; color: #455e57; padding-top: 20px; }
header img { width: 400px; border-radius: 200px 200px 0 0; margin-top:20px;  }
header h1 { 
    font-family: 'Chonburi'; text-align: center;  font-size: 60px; 
    margin-top: -500px;
}
/* #slide { width: 1400px; position: relative;  margin-top: -300px; }
.slideList { display: flex; position: absolute; top: 0; left: 0; width: 1400px; } */

#s1 { width: 100%; height: 1100px; background: #a4acac; }
.c1 { padding: 100px; }
.c1 .title p { margin-bottom: 20px;  }
.c1 .title hr { margin-bottom: 100px; }
.c1 > p {  text-align: center; }
.c2 { padding: 100px; }
.c2 .title p { margin-bottom: 20px;  }
.c2 .title hr { margin-bottom: 100px; }
.c2 img { width: 200px; }
.c2 ul { display: flex; align-items: center; justify-content: space-between; }
.c2 ul p { text-align: center; }

/* #s2 { width: 100%; height: 600px; background: #999; }
#s2 .title h3 { margin-bottom: 20px;  padding: 100px 0 0 100px; }
#s2 .title hr { margin-bottom: 100px; width: 1200px; margin-left: 100px; }
#s2 .cont { display: flex; justify-content: space-between; }
#s2 .left { padding-left: 100px; }
#s2 .left a { color: #000; font-size: 30px; line-height: 50px; }
#s2 .right { padding-right: 100px; }
#s2 .right img { border-radius: 200px 200px 0 0; } */

#s2 { width: 100%; height: 2000px; background: #999; display: flex; flex-direction: column; align-items: center;}
#s2 img { width: 300px; }
#s2 .title h3 { margin-bottom: 20px;  padding: 100px 0 0 100px; }
#s2 .title hr { margin-bottom: 80px; width: 1200px; margin-left: 100px; }
#s2 .a1 { width: 1200px; height: 400px; display: flex; align-items: center; justify-content: space-between;  background: rgb(156, 112, 112); }
#s2 .a2 { width: 1200px; height: 400px; display: flex; align-items: center; justify-content: space-between; background: rgb(218, 195, 195); }
#s2 .txt { width: 500px; }