@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');

* { margin: 0; padding: 0; text-decoration: none; list-style: none; }
#wrap { width: 1400px; margin: 0 auto; }

header { 
    width: 100%; height: 800px; background: rgb(179, 192, 190);
    display: flex; flex-direction: column; align-items: center;
}
header ul { width: 1200px; display: flex; align-items: center; justify-content: space-between; padding:50px; }
header li a {color: #000; }
header p { text-align: center; color: rgb(69, 94, 87); padding-top: 20px;}
header img { width: 400px; border-radius: 200px 200px 0 0; margin-top:25px;  }
header h1 { 
    font-family: 'Chonburi'; text-align: center;  font-size: 60px; 
    margin-top: -500px;
}
/* #slide { width: 1400px; position: relative;  margin-top: -300px; }
.slideList { display: flex; position: absolute; top: 0; left: 0; width: 1400px; } */

#s1 { width: 100%; height: 1100px; background: #999; }
.c1 { padding: 100px; }
.c1 .title p { margin-bottom: 20px;  }
.c1 .title hr { margin-bottom: 100px; }
.c1 > p {  text-align: center; }
.c2 { padding: 100px; }
.c2 .title p { margin-bottom: 20px;  }
.c2 .title hr { margin-bottom: 100px; }
.c2 img { width: 200px; }
.c2 ul { display: flex; align-items: center; justify-content: space-between; }
.c2 ul p { text-align: center; }